.Container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000bd;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.Container>div {
    position: relative;
    width: 340px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    background-color: #090909;
    backdrop-filter: blur(10px);
    border: 1px solid #444448;
    box-shadow: 0px 4px 20px 1px rgb(0 0 0);
    transition: 2s;
    animation: animatezoom 0.1s;
    gap: 40px;
}
.Container>div::before {
    content: "";
    position: absolute;
    background-image: url(/grain2.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.3;
    z-index: 1;
}
@keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

.top {
    width: 87%;
    height: 25%;
    padding: 20px;
    z-index: 10;
}

.title {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 10px;
    padding-top: 10px;
}

.title>label {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.ItemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Item {
    display: flex;
    gap: 10px;

}

.Item>label {
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.check {
    width: 18px;
    height: 17px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid white;
}

.check:hover {
    background: rgba(179, 179, 179, 0.168);
}

.check#active {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 0px 4px rgb(0 0 0);
    transition: 0.2s;
}

.actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 30%;
    z-index: 10;

}
#delete {
    background: #b20509;
    width: 150px;
    height: 36px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    outline: #0B0B0B;
    font-weight: 600;
    font-size: 13px;
}

#cancel {
    background: #3b3b3b;
    width: 150px;
    height: 36px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    outline: #0B0B0B;
    font-weight: 600;
    font-size: 13px;
}

#delete:hover {
    background: #881e24;
}

#cancel:hover {
    background: #3b3b3bcf;
}

.createButton {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.createButton>button {
    width: 100px;
    height: 36px;
    cursor: pointer;
    background: #0057af;
    color: white;
    border-radius: 10px;
    border: none;
    outline: #0B0B0B;
    font-weight: 600;
    font-size: 13px;
}


#search_logo {
    height: 100%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_logo>svg {
    margin-left: 5px;
    width: 20px;
    height: 100%;
}

.search {
    display: flex;
    width: 98%;
    height: 100%;
}

.search>input {
    width: 87%;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 16px;
}

.chatListContainer {
    height: 87%;
    overflow-y: scroll;
}

.chatListContainer>div {
    width: 97%;
    padding: 10px;
}

.chatList {
    display: flex;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    margin-top: 12px;
}

.chatItem {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #00000000;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 5;
}

.chatItem:hover {
    background-color: #91919112;
}

#active {}

.chatItem #active {
    background-color: #91919112;
    backdrop-filter: blur(3px);
}