.Block {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    display: flex;
    width: 100%;
    height: 100vh;
}

.mainside {
    width: 100px;
    height: 100%;
    background-color: #151515c9;
}

.Side_bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 20;
    transition: 200ms;
    /* min-width: 88px; */
    min-width: 360px;
    width: 22%;
    height: 100%;
    border-radius: 10px;
}



.sideContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: 200ms;
    /* border-radius: 10px; */
    background-color: #0d0d0d;
    /* border: 1px rgb(52, 51, 51) solid; */
}

/* 
.sideContainer::before {
    content: "";
    position: absolute;
    background-image: url(/grain2.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.3;
    z-index: 1;
} */

.logoContainer {
    width: 50px;
    height: 5vw;
}

.Main {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top {
    display: flex;
    flex-direction: column;
    max-height: 130px;
    height: 70px;
    background-color: #121212c9;
    /* border-radius: 10px; */
}

.Chat {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
    overflow: hidden;
}

.Header {
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #2b2a2a5d;
    /* backdrop-filter: blur(10px); */
    z-index: 100;
}

.MessagesContainer {
    flex: 1;
    overflow: auto;
}

.MessageInputContainer {
    /* position: relative; */
    /* flex-shrink: 0;
    flex: 1; */
    /* position: absolute; */
    /* bottom: 0;
    width: 100%;
    height:77px;
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.438); */
    padding: 10px;
    max-height: 150px;
    overflow: hidden;
}

.InputContainer {
    height: auto;
    min-height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #0a0a0a;
    align-items: flex-end;
}

.InputContainer textarea {
    padding: 4px 10px;
    /* width: 408px;
    height: 124px; */
    /* width: 485px;
    height: 85px; */
    /* width: 740px;
    height: 50px; */
    width: 94%;
    max-height: 116px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(66, 66, 66);
    outline: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.SendContainer {
    min-height: 45px;
    display: flex;
    max-height: 45px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.SendContainer>button {
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 5px;
    background-color: rgba(102, 102, 102, 0);
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 11px;
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.115);
}

.SendContainer>button:hover {
    background-color: rgba(50, 50, 50, 0.236);
}

.Main {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatListContainer {
    height: 90%;
    overflow-y: scroll;
}

.chatList {
    display: flex;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;

}

.chatItem {
    display: flex;
    width: 95%;
    height: 84px;
    background-color: #00000000;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 5;
}

.chatItem:hover {
    background-color: #91919112;
}

#active {}

.chatItem #active {
    background-color: #91919112;
    backdrop-filter: blur(3px);
}

.chatImage {
    padding: 5px;
    width: 64px;
    height: 100%;
    /* background-color: aliceblue;
    border-radius: 40px; */
}

.chatImage>div {
    width: 64px;
    height: 64px;
    background-color: aliceblue;
    border-radius: 40px;
}

.chatImage>div img {
    width: 64px;
    height: 64px;
    border-radius: 40px;
}

.chatInfo {
    display: flex;
    flex-direction: column;
    width: 78%;
    padding: 5px;
    padding-top: 15px;
}

.nameTime {
    display: flex;
}

.nameTime #name {
    display: flex;
    width: 70%;
}

.nameTime #name>label {
    font-weight: 600;
    color: white;
}

.nameTime #time {}

.nameTime #time>label {
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
}

#recent_message>label {
    color: white;
}


.messageListContainer {
    height: 100%;
    overflow-y: scroll;
}

.messageList {
    display: flex;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    padding: 10px;
}

.messageItem {
    display: flex;
    width: 95%;
    height: auto;
    min-height: 40px;
    line-break: auto;
    /* height: 84px; */
    /* background-color: #919191c9; */
    border-radius: 10px;
    z-index: 5;
}

/* 
.messageItem:hover {
    background-color: #91919112;
} */

.messageItem>div label {
    color: white;
}

.receiveContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-break: anywhere;
}

.sendContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#time>label {
    color: white;
}

#bubble {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    max-width: 50%;
    min-height: 20px;
    background-color: #b4b4b438;
    border-radius: 10px;
}



.messageListContainer::-webkit-scrollbar {
    width: 5px;

    /* min-height: 817px; */
    color: #ffffff;
}

.messageListContainer::-webkit-scrollbar :hover {
    width: 0px;
    height: 0px;
}

.messageListContainer::-webkit-scrollbar-track {
    /* margin-top: 100px; */
    height: 0px;
}

.messageListContainer::-webkit-scrollbar-thumb {

    border-radius: 3px;
}

.messageListContainer::-webkit-scrollbar-thumb:hover {
    width: 20px;
}