.top {
  width: 85%;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top>label {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 30px;
}

.App {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.App::before {
  content: "";
  position: absolute;
  /* background-image: url(/grain2.png); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.3;
  z-index: 1;
}
.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(25, 25, 25, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  z-index: 100;
}
.login{
  height: 425px;
  width: 430px;
}

.signup {
  height: 678px;
  width: 545px;

}

.form {
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.formItems{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field>div>label {
  color: #959595;
  font-weight: 400;
  font-size: 14px;
}

.field>input {
  width: 464px;
  height: 40px;
  background: rgba(22, 22, 22, 0);
  border: 1px solid #212121;
  border-radius: 5px;
  user-select: none;
  color: rgb(255, 255, 255);
  padding: 4px 10px;
  outline: none;
  font-weight: 300;
  font-size: 15px;
}

.field>input:focus {
  border: 1px solid #5f5f5f;
}

#failed {
  color: red;
  font-weight: 600;
  font-size: 10px;
  width: 92%;
  display: none;
  justify-content: flex-end;
}

.submit {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
}

.submit>button {
  width: 186px;
  height: 46px;
  cursor: pointer;
  background: #506CFF;
  color: white;
  border-radius: 10px;
  border: none;
  outline: #0B0B0B;
  font-weight: 600;
  font-size: 13px;
}

.next {
  display: flex;
  height: 55px;
  align-items: flex-end;
}

.next {
  display: flex;
  height: 55px;
  align-items: flex-end;
}

.next>a {
  text-decoration: none;
  /* Create Account */
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 7px;
}

.passwordContainer{
  display: flex;
  width: 464px;
  height: 40px;
  background: rgba(22, 22, 22, 0);
  border: 1px solid #212121;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: rgb(255, 255, 255);
  padding: 4px 10px;
  outline: none;
  font-weight: 300;
  font-size: 15px;
}

.passwordContainer:focus-within {
  border: 1px solid #5f5f5f;
}
.passwordContainer>input {
  padding: 0px 8px;
  height: 100%;
  width: 90%;
  border: none;
  color: #fff;
  background-color: #00000000;
  outline: none;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 15px;

  /* width: 464px;
  height: 61px; */
  /* background: rgb(22 22 22);
  border-radius: 5px;
  border: none;
  user-select: none;
  color: white;
  outline: none;
  font-weight: 350;
  font-size: 17px; */
}

#showpass {
  width: 10%;
  height: 100%;
  background-color: #00000000;
  border: none;
}

#showpass>img {
  height: 17px;
  width: 17px;
  margin-top: 4px;
}

#fail {
  height: 40px;
  border-radius: 4px;
  width: 34%;
  background-color: #ff0c0c1f;
  border: 1px solid #ff0000;
  backdrop-filter: blur(1px);
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

#fail>label {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 12px;
}

.errorContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.errorContainer > div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background: #f851491a;
  border: 1px solid #ff0000 ;
}
.errorContainer > div > label{
  color: #fff;
}